@import "tailwindcss";

@theme {
  --font-sans: var(--font-rethink-sans);
}

body {
  background-color: #010206;
  color: #F7F7F8;
  font-family: var(--font-rethink-sans), sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.qual-cards-outer::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #D92D20 transparent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #D92D20;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b12519;
}